* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body  {
  height:1200px;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #eadeae;
}

.page {
  width: 900px;
  margin:auto;
  border-radius: 20px;
  padding: 0px 40px 40px 40px;
  background-color: #F2EBCE;
}

.pagehead{
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
}

.pagehead > h1{
  padding-top:20px;
  padding-bottom: 20px;
}

.pagehead > h2 {
  padding-top:20px;
}

.pagebody{
  height: 400px;
}

.pagebody > h3 {
  margin:30px 0px 0px 0px;
}

.pagebody > ul{
  margin-top: 10px;
  margin-left: 20px;
}



a:link,
a:visited {
  color: #5D6063;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


.menu {
  border-bottom-right-radius: 20px;
  border-top-right-radius:20px;
  position: fixed;
  display: flex;
  align-items:center;
  top:50px;

  padding: 10px 30px 10px 50px;
  background: #D6E9FE;
}

.menu > ul {
  display: flex;
  height: 130px;
  flex-direction:column;
  justify-content: space-around;
}
